---
layout: page-layout.njk
title: 'About the 2015 Event'
meta_title: 'Vermont Code Camp 7 :: 2015'
meta_description: The 8th annual Vermont Code Camp in Burlington, VT – bringing together technology community members, students and professionals from around Vermont and beyond.
---


<article id="attend" class="anchor">
    <header>
        <img src="/media/attendee-registration-480x320.jpg" width="480" height="320" alt="Attendee Registration" />
    </header>
    <article>

        <div class="meta">
            <abbr title="September 19, 2015, 8:30am - 5:30pm" class="date-time">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span> 
                <span class="date">19</span> 
                <span class="time">8:30AM-5:30PM</span>
            </abbr> 
            <abbr title="Kalkin Hall, The University of Vermont, 55 Colchester Avenue, Burlington, VT" class="location">
                <span class="building">Kalkin Hall</span> 
                <span class="place">UVM Campus</span>
                <span class="address">55 Colchester Ave</span> 
                <span class="city">Burlington, VT</span>
            </abbr>
        </div>


        <h1>{{ title }}</h1>
        <p class="description"><strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. In 2014, there were sessions on a variety of software topics including programming, databases, web, business and more. <a href="/schedule" class="highlight">View the 2015 schedule.</a></p>
        

        <p><strong><a href="http://www.meetup.com/VTCode/events/222590422/">Event Page on Meetup</a></strong></p>

    </article>

    <article class="sponsors">
        <h1>Premiere Sponsors</h1>
        <ul class="sponsors">
            <li><a href="http://www.uvm.edu/business/"><span class="logo the-university-of-vermont">UVM</span> School of Business Administration</a></li>
            <li><a href="http://pluralsight.com/" class="logo pluralsight">Pluralsight</a></li>
            <li><a href="http://www.mywebgrocer.com/" class="logo mywebgrocer-primary-grey-background">MyWebGrocer</a></li>
            <li><a href="http://www.dealer.com/" class="logo dealer-dot-com-a-dealertrack-solution">Dealer.com | A Dealertrack Solution</a></li>
        </ul>
        <h1>Gold Sponsors</h1>
        <ul class="sponsors">
            <li><a href="http://www.evolutionpayroll.com/" class="logo evolution-hcm-technology">Evolution | HCM Technology</a></li>
            <li><a href="http://galenhealthcare.com/" class="logo galen-healthcare-solutions">Galen Healthcare Solutions</a></li>
            <li><a href="http://vtdesignworks.com/" class="logo vermont-design-works">Vermont Design Works | Web + Marketing + Branding</a></li>
            <li><a href="http://www.competitive.com/" class="logo competitive-computing">Competitive Computing</a></li>
        </ul>
        <h1>Silver Sponsor</h1>
        <ul class="sponsors">
            <li><a href="http://www.mach7t.com/" class="logo mach7-technologies">Mach7 Technologies</a></li>
        </ul>
        <h1>Bronze Sponsor</h1>
        <ul class="sponsors">
            <li><a href="http://aseba.org/" class="logo aseba">ASEBA - Research Center for Children, Youth and Families (UVM)</a></li>
        </ul>
        <h1>Swag, Giveaways &amp; More</h1>
        <ul class="sponsors">
            <li><a href="http://www.oreilly.com/pub/cpc/797" class="logo oreilly-media">O'Reilly Media</a></li>
            <li><a href="https://www.girldevelopit.com/chapters/burlington" class="logo girl-develop-it">Girl Develop It | Don't be shy. Develop it.</a></li>
            <li><a href="http://www.codemag.com/" class="logo code-magazine">CODE Magazine</a></li>
        </ul>
    </article>
</article>
